#header {
  background-color: #ffffff;
  width: 100%;
  height: 40px;
}

#footer {
  background-color: #f0f0f0;
  position:absolute;
  width: 100%;
  height: 40px;
  margin-bottom: -1px;
}

#navigation {
  font-family: Helvetica;
  font-size: 12px;
  color: #000000;
  padding-top: 2px;
  float: right;
  padding-right: 5px;
}

li {
	/*Add your CSS here!*/
	padding: 10px;
	display: inline;
	font-family: Futura, Tahoma, sans-serif;
}

.left {
  width:100%;
  position: relative;
  padding-top: 200px;
}

#bottomnavleft {
  float: left;
  padding-right: 2px;
  font-size: 12px;
  color: #606060;
}

#bottomnavright {
  float: right;
  font-size: 12px;
  color: #606060;
  padding-right: 20px;
}
input {
    width: 600px;
    height: 30px;
}
#searchbox {
  width: 100%;
  position: relative;
  padding-top: 20px;
  padding-bottom: 300px;
}
button {
  font-family: Helvetica;
  font-size: 12px;
  color: #787878;
  background-color: #f0f0f0;
  border: 0;
  padding: 10px 15px 10px 15px;
  font-weight: bold;
  position: relative;
}
